<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" formControlName="firstName">

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" formControlName="lastName">

  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email">
  
  <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
    <div *ngIf="myForm.get('email')?.errors?.['required']" style="color: red">Email is required.</div>
    <div *ngIf="myForm.get('email')?.errors?.['email']" style="color: red">Invalid email format.</div>
  </div>

  <button type="submit">Submit</button>
</form>
