.container {
    display: flex;
    flex-direction: row;
}

.add-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vw;
    border: 1px solid #393646;
    border-radius: 20px;
    padding: 20px 0;
    margin: 50px 30px 0 20px;
}

.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    border: 1px solid #393646;
    border-radius: 20px;
    margin-top: 50px;
}

.footer {
    padding-top: 20px;
}


