@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F4F4F4;
}
button {
  background-color: #ffff;
  border: none;
}

.mat-mdc-text-field-wrapper {
  border: 1px solid #dcb05c;
  border-radius: 28px;
  background-color: white;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

.owl-theme .owl-dots .owl-dot span{
  background-color: #DCB05C;
  width: 50px;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #DCB05C;
}
