<div class="container">
    <p>education works!</p>
    <span>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero non ab ut tenetur magnam, earum repudiandae error
        tempore a dignissimos, mollitia neque fuga porro qui culpa! Repellat ipsam minima quasi.
        Vitae fugit debitis quasi expedita quibusdam! Cumque ducimus dolore accusantium non ipsam incidunt ipsum sed
        magnam eos eum, illum nesciunt adipisci neque ratione illo autem, tempore, nam labore quia quod!
        Veniam ipsam esse, ex ullam minima tenetur reprehenderit libero quis cupiditate enim quam nulla maiores
        asperiores iure doloribus omnis dolorem neque et dolorum assumenda. Commodi corrupti temporibus officia dolorum,
        sit!
        Soluta magnam quas vero quos dolores sunt, voluptate aperiam dolor aspernatur earum. Ipsam magnam assumenda quae
        reiciendis at, accusamus porro consequatur iste magni, repudiandae ipsa distinctio error, iusto accusantium
        reprehenderit.
        Excepturi suscipit aliquid ullam sint recusandae facere soluta! Quo maxime modi magnam repudiandae vitae.
        Tempora quae quod temporibus doloremque a, voluptates, adipisci dignissimos enim aut vero hic. Quas, voluptates
        consectetur.
        Perspiciatis, error fugiat eum sunt fugit rem, fuga quibusdam impedit aspernatur, omnis quae accusantium itaque
        reiciendis commodi ipsum amet nostrum perferendis quis. Voluptatum quisquam aut porro voluptas. Similique,
        consectetur beatae.
        Debitis nulla adipisci, necessitatibus quisquam dolores fugit quod qui, soluta, totam blanditiis vitae porro
        enim? Iste culpa excepturi voluptates, tenetur fugiat iure ab eum quasi laborum et esse earum modi!
        Obcaecati consequuntur, harum exercitationem delectus recusandae odit ipsam quam error sint ullam cumque
        eligendi voluptatibus natus omnis perferendis necessitatibus vel atque nobis illo eaque quidem veniam
        repudiandae. Vitae, tempore perferendis!
        Laborum repudiandae corrupti magnam. Est sint accusamus ea neque doloremque at autem reprehenderit ipsa
        laboriosam animi aspernatur tempore blanditiis atque, nisi, cumque iusto consequatur sed quis quibusdam nemo.
        Velit, cum.
        Deleniti fugiat tenetur atque quo blanditiis, commodi aspernatur distinctio vero perspiciatis voluptas iste ut
        exercitationem quia deserunt, illum repellat dolor. Magni hic maxime commodi nemo reprehenderit voluptatem sint!
        Atque, totam.
        Iste odit numquam illum quasi, quam rem amet officiis soluta quas repellendus, eligendi, quae praesentium optio
        voluptates dicta. Saepe quos consectetur libero tempore possimus id eligendi voluptate laboriosam, placeat
        labore.
        Fugiat iure eius reprehenderit, aliquid magnam nostrum soluta numquam commodi velit tempore cumque ipsa
        exercitationem cum suscipitt doloribus voluptates sit obcaecati blanditiis dolor excepturi recusandae in nemo.
        Debitis, explicabo perspiciatis?
        Sint, deserunt non. Voluptatibus, voluptatem cumque saepe et modi atque, perferendis est voluptatum rem sapiente
        veniam tempore mollitia dolores dolorem numquam id? Ex sapiente minima, consequuntur numquxam laudantium quam
        delectus?
        Consequuntur illo, maiores esse in nulla pariatur! Neque et praesentium aperiam quis aliquid eius, ipsamm
        voluptas, incidunt laborum veritatis facilis illum exercitationem magni minus in dolores commodi ab. Esse,
        laboriosam?
        Totam atque impedit sapiente, aliquam velit vitae praesentium voluptas. Id iusto doloribus, deleniti
        exercitationem repellendus alias labore. Error aperiam excepturi dicta labore, vero ullam id laboriosam illum
        optio voluptates sunt!
        Cumque nulla, sit repellendus, laudantium iste voluptates blanditiis rerum veniam sunt beatae sequi ducimus?
        Veniam voluptate, doloribus sunt in dolorem totam fugit unde necessitatibus nihil impedit quis quisquam, vero
        libero.
        Consectetur porro consequatur consequuntur ipsa harum quis nam unde nobis, nihil, enim explicabo eveniet
        nesciunt! Sequi voluptatum commodi, mollitia ab obcaecati consectetur similique asperiores, ipsam, nam corrupti
        aspernatur ut dignissimos?
        Suscipit consequatur ratione aspernatur nesciunt. Consectetur reprehenderit possimus ab, nisi nam accusantium?
        Dolorum fugiat a ducimus illo quasi quae illum molestiae. Molestias nesciunt temporibus, itaque ipsam sed veniam
        dolorem quod.
        Aperiam iusto velit nesciunt quas quidem nemo laudantium fuga consequuntur aspernatur dicta et, illo neque,
        explicabo possimus cupiditate eaque non fugit ullam saepe maiores asperiores tenetur? Similique nesciunt fugit
        amet?
        Voluptatem reprehenderit deleniti aperiam quae aliquam, possimus sequi voluptatum eligendi saepe ullam, sit non
        quam autem pariatur aut vero enim, officiis expedita nostrum porro. Nulla voluptatem illum doloremque ab vel!
    </span>
</div>