a {
    text-decoration: none;
    color: black
}

.menus {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.demo-section {
    min-width: 30px;
   min-height: 50px;
    border-radius: 90px;
}