<p>
    <mat-toolbar>
        <a routerLink="/">My App</a>
        <span class="example-spacer"></span>
        <div class="menus">
            <a routerLink="/candidate/home">Home</a>
            <a routerLink="/candidate/education">Education</a>
            <a routerLink="/candidate/contact-info">Contact Info</a>
            <a routerLink="/candidate/contact-info">Work Experience</a>
            <a routerLink="/candidate/contact-info">Additional info</a>
            <a routerLink="/candidate/job-search">Job search</a>
        </div>
        <div >
            <button class="demo-section" mat-raised-button matBadge={{badgeCount}} [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()" mat-button [matMenuTriggerFor]="menu">
                <mat-icon matBadgeColor="warn">home</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
        </div>
    </mat-toolbar>
</p>