<p>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/">My App</a>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
        <div class="menus">
        <a routerLink="/candidate/education">Education</a>
        <a routerLink="/candidate/contact-info">Contact Info</a>
        <a routerLink="/candidate/contact-info">Work Experience</a>
        <a routerLink="/candidate/contact-info">Additional info</a>
        </div>  
    </mat-toolbar>
</p>