.note-form {
    padding: 10px;
    width: 300px;
}

input[type='text'], textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}