<div class="container">
    <div class="head">
        <h1 class="h1-text">Search for your next job</h1>
        <h4 class="h4-text">Search for your next job</h4>
    </div>
    <div class="second-head">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Job title, keyword or company</mat-label>
              <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        <span>Previous Searches</span>
    </div>
</div>