<div class="container">
    <button class="menu" routerLink="/candidate/education">
        <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
        <span>My Profile</span>
        <span></span>
    </button>
    <div class="menus">
        <button class="menu">
            <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
            <span>Jobs applied for</span>
            <span></span>
        </button>
        <button class="menu">
            <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
            <span>Saved Jobs</span>
            <span></span>
        </button>
        <button class="menu">
            <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
            <span>Subscriptions</span>
            <span></span>
        </button>
        <button class="menu">
            <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
            <span>Interviews</span>
            <span></span>
        </button>
        <button class="menu">
            <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
            <span>Account Settings</span>
            <span></span>
        </button>
    </div>
    <button class="logout">
        <img src="../../../../assets/icons/logout.png">
        <span>Logout</span>
        <span></span>
    </button>
</div>