<div class="container">
    <div class="profile">
        <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
        <span>My Profile</span>
        <span></span>
    </div>
    <div class="menus">
        <div class="menu">
            <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
            <span>Jobs applied for</span>
            <span></span>
        </div>
        <div class="menu">
            <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
            <span>Saved Jobs</span>
            <span></span>
        </div>
        <div class="menu">
            <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
            <span>Subscriptions</span>
            <span></span>
        </div>
        <div class="menu">
            <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
            <span>Interviews</span>
            <span></span>
        </div>
        <div class="menu">
            <img src="../../../../assets/icons/profile-circle-svgrepo-com.svg">
            <span>Account Settings</span>
            <span></span>
        </div>
    </div>
    <div class="logout">
        <img src="../../../../assets/icons/logout.png">
        <span>Logout</span>
        <span></span>
    </div>
</div>