<div class="container">
    <h1 class="header">Contact information</h1>
    <h3 class="sub-head">Let’s start!</h3>
    <div class="form">
        <img class="image" src="../../../../assets//icons/profile-circle-svgrepo-com.svg" alt="">
        <div class="first-column">
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput placeholder="Placeholder">  
            </mat-form-field>
            <div class="radio">
                <span>Are you authorised to work in the UK?</span>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                    <mat-radio-button value="2">Option 2</mat-radio-button>
                    <mat-radio-button value="3">Option 3</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="second-column">
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </div>
    </div>
</div>