
.header {
  padding-top: 100px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0px;
  color: #284e63;
  opacity: 1;
  font-size: 53px;
}

.sub-head {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0px;
  color: #8083a3;
  opacity: 1;
}

.form {
  padding: 40px 130px;
  display: flex;
  gap: 30px
}

.image {
  height: 200px;
  width: 200px;
  background-color: white;
}

.first-column, .second-column {
  display: flex;
  flex-direction: column;
  gap: 30px
}

.radio {
  display: flex;
  flex-direction: column;
}

.our-form {
  display: flex;
  gap: 30px
}

.submit {
  padding: 20px 0;
  background-color: #DCB05C;
  border-radius: 28px;
  color: white;
  border: 1px solid #DCB05C
}

.submit:hover {
  background-color: #e3ba6f;
}




