<div class="container">
    <h1>Laptop Form</h1>
    <form #laptopForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="processor">Proccessor</label>
            <input #processor="ngModel" type="text" name="processor" ngModel class="form-control" id="processor"
                required minlength="5">
            <ng-container *ngIf="processor.touched && processor.invalid">
                <div *ngIf="processor.errors?.['required']" class="alert-danger" style="color: red">
                    Proccessor is required
                </div>
                <div *ngIf="processor.errors?.['minlength']" class="alert-danger" style="color: red">
                    Your input must br at least 5 symbols long
                </div>
            </ng-container>

        </div>
        <div class="form-group">
            <label for="ram">RAM</label>
            <input type="text" name="ram" ngModel class="form-control" id="ram" required>
        </div>
        <div class="form-group">
            <label for="hardDisk">Hard Disk (GB)</label>
            <input type="number" name="hardDisk" ngModel class="form-control" id="hardDisk">
        </div>
        <div class="form-group">
            <label for="os">Operating System</label>
            <select name="os" ngModel class="form-control" id="os" required>
                <option *ngFor="let os of operatingSystems" [value]="os">{{os}}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>