<div class="main">
    
    <div>
        <h3>Count from app component: {{count}}</h3>
        <button (click)="nextCount()">Add from app component</button>
        <br>
        <h1>App title: {{title}}</h1>
        <br>
        <h1>Parent component</h1>
        <h3>Name</h3>
        <input type="text" #name>
        <br>
        <h3>Mark</h3>
        <input type="text" #mark> <br> <br>
        <button (click)="transferData(name.value, mark.value)">Submit</button>
        <span>{{response}}</span>
    </div>
    <div>
        <app-child [nameData]="inputName" [markData]="markName" [objData]="inputObj" (dataUpdateEvent)="updateTitle($event)"></app-child>
    </div>
    <div>
        <app-second-child></app-second-child>
    </div>
</div>