<div class="form">
    <h2 id="registration">Registration Form</h2>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

        <ng-container formGroupName="personalDetails">
            <label for="fname">First Name</label>
            <input type="text" id="fname" placeholder="Your name.." name="firstname" formControlName="firstname">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" placeholder="Your last name.." name="lastname" formControlName="lastname">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Your last email.." name="email"
                formControlName="email">
            <ng-container
                *ngIf="reactiveForm.get('personalDetails.email')?.hasError('email') && ((reactiveForm).get('personalDetails.email')?.touched || (reactiveForm).get('personalDetails.email')?.dirty)">
                <span style="color: red">This is not a valid email!</span>
            </ng-container>
        </ng-container>



        <br><br>
        <label for="country">Country</label>
        <select id="country" name="country" formControlName="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            <option value="india">India</option>
            <option value="uk">UK</option>
        </select>

        <label for="gender">Gender:</label>

        <input type="radio" id="male" value="male" name="gender" formControlName="gender">
        <label for="male">Male</label>
        <input type="radio" id="female" value="female" name="gender" checked formControlName="gender">
        <label for="female">Female</label>

        <br><br>
        <label>Hobbies <i>(Optional)</i></label>
        <div class="form-inline">
            <label><input type="checkbox" value="sports" checked formControlName="hobbies"> Sports</label>
            <label><input type="checkbox" value="movies" formControlName="hobbies"> Movies</label>
            <label><input type="checkbox" value="music" formControlName="hobbies"> Music</label>
        </div>

        <input type="submit" value="Submit" id="btn">
    </form>
</div>