<h1>My form</h1>

<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="field">
        <label class="label" for="username">username</label>
        <input type="text" class="input" id="username" formControlName="username"
            [class.invalid]="registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty || isSubmitted)">
    </div>
    <span class="error"
        *ngIf="registerForm.get('username')?.hasError('required') && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty || isSubmitted)">This
        field is required</span>
    <div class="field">
        <label class="label" for="email">email</label>
        <input type="text" class="input" id="email" formControlName="email"
            [class.invalid]="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty || isSubmitted)">
    </div>
    <span class="error"
        *ngIf="registerForm.get('email')?.hasError('invalid') && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty || isSubmitted)">This
        field is required</span>
        <span class="error"
        *ngIf="registerForm.get('email')?.hasError('email') && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty || isSubmitted)">This
        is not a valid email!</span>
    <div class="field">
        <label class="label" for="password">password</label>
        <input type="text" class="input" id="password" formControlName="password"
            [class.invalid]="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty || isSubmitted)">
    </div>
    <span class="error"
        *ngIf="registerForm.get('password')?.hasError('required') && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty || isSubmitted)">This
        field is required</span>

        <select name="" id="" formControlName="roleId">
            <option *ngFor="let role of roles" [ngValue]="role.id">{{role.title}}</option>
        </select>
    <div>
        <button class="button" type="submit">Register</button>
    </div>
</form>